body{
	background-color: lightgreen;
}
p{
	font-size: 50px;
}
.p1{
	background-color: blueviolet;
	color: hotpink;
}
.p2{
	font-family: sans-serif;
}
.p3{
	font-family: Georgia,Times, "Times New Roman",serif;
	font-weight: 700;
}
.p4{
	font-family:Georgia, serif;
}
.p5{
	font-family: cursive;
}
.P6{
	font-family: monospace;
}
.p7{
   font-family: "kablammo", system-ui;
}


















































































































